<header class="contenedor-cabecera">
<meta name="google-site-verification" content="IgjenuXjf-AtvwwRCGnDb_Ch51_bKy14pDV_UUqUpJI" />
<img src="assets/img/Logo_oficial.png" alt="Pedro Antonio Logo" class="logo-cabecera" />

  <div class="accion-derecha">
    <button class="enlace-navegacion" (click)="navigateToArticles()">Artículos</button>
    <button class="enlace-navegacion" (click)="navigateToBooks()">Libros</button>
    <button class="enlace-navegacion" (click)="toggleLogin()">Iniciar Sesión</button>
    <button class="enlace-navegacion" (click)="navigatetoContacto()">Contacto</button>
     <!--<button class="enlace-navegacion" (click)="navigateToRegister()">Registro</button> -->
  </div>
</header>

<div *ngIf="name_user" class="mensaje-bienvenida">
  👋 ¡Hola {{ name_user }}! Has iniciado sesión.
</div>

<div *ngIf="mostrarLogin" class="panel-login">
  <button class="enlace-navegacion" (click)="navigateToLogin()">Iniciar Sesión</button>
</div>
