<div class='footer1'>
        
    <a  href="http://www.facebook.com/sharer.php?u=https://fidesone.github.io/website/index.html" ><i class="fab fa-facebook-square"></i> </a>
    <a  href="https://twitter.com/intent/tweet?url=https://fidesone.github.io/website/index.html" ><i class="fab fa-twitter-square"></i></a>
    <a  href="https://api.whatsapp.com/send?text=https://fidesone.github.io/website/index.html"> <i class="fab fa-whatsapp-square"></i> </a>
</div>
<div class="footer">
        <a class="footer__link" href="https://www.abc.es/espana/castilla-la-mancha/toledo/centenario-quijote/abci-pedro-gonzalez-poeta-cafe-gijon-201710031333_noticia.html">Pedro A. González, poeta en el Café Gijón</a>
        <a class='github' href="https://github.com/Fidesone/website"> <i class="fab fa-github"></i></a>
        <a class="footer__link" href="https://elpais.com/cultura/2017/09/20/babelia/1505920900_488860.html"> "Nunca pude terminar el Ulises de Joyce"</a> 
</div>
