<header class="contenedor-cabecera">
  <img src="assets/img/Logo_oficial.png" alt="Pedro Antonio Logo" class="logo-cabecera" />

  <div class="accion-derecha">
    <button class="enlace-navegacion" (click)="navigateToArticles()">Artículos</button>

    <!-- Dropdown de Libros -->
    <div class="dropdown">
      <button class="enlace-navegacion">Libros</button>
      <div class="dropdown-content">
        <button (click)="navigateToBookshand('poesía')">Poesía</button>
        <button (click)="navigateToBookshand('novela')">Novela</button>
        <button (click)="navigateToBookshand('ensayo')">Ensayo</button>
        <button (click)="navigateToBookshand('viajes')">Viajes</button>
        <button (click)="navigateToBookshand('memorias')">Memorias</button>
        <button (click)="navigateToBookshand('otras publicaciones')">Otras publicaciones</button>
      </div>
    </div>

    <button class="enlace-navegacion" (click)="navigateToBiography()">Biografía</button>
    <button class="enlace-navegacion" (click)="navigateToInterviews()">Entrevistas</button>
  </div>
</header>

<section class="tarjeta-contacto">
  <div class="col izquierda">
    <h2>Contáctame</h2>
    <p>¿Tienes dudas o un proyecto? Escríbeme.</p>
    <div class="info-contacto">
      <p><strong>Email:</strong> pagonzalezmor1&#64;gmail.com</p>
    </div>
    <div class="redes-sociales">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="col derecha">
    <h2>Formulario de contacto</h2>
    <form class="formulario" (ngSubmit)="enviarFormulario()">
      <input type="text" placeholder="Nombre" [(ngModel)]="contacto.nombre" name="nombre" required>
      <input type="email" placeholder="Correo electrónico" [(ngModel)]="contacto.correo" name="correo" required>
      <input type="text" placeholder="Asunto" [(ngModel)]="contacto.asunto" name="asunto">
      <textarea placeholder="Mensaje" [(ngModel)]="contacto.mensaje" name="mensaje" required></textarea>
      <button type="submit">Enviar mensaje</button>
    </form>
  </div>
</section>

<app-footer></app-footer>
