<div class="zona-articulos">
  <div class="contenedor-cabecera">
    <img src ="assets/img/logo_libros.png" alt="Logo libros" class="logo-cabecera">
    <div class="accion-derecha">
      <button class="enlace-navegacion" (click)="navigateToArticles()">Artículos</button>
      <button class="enlace-navegacion" (click)="navigateToBiography()">Biografía</button>
    </div>
  </div>

  <!-- Categorías centradas debajo del header -->
  <div class="categorias-libros">
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === '' }" (click)="verTodos()">Todos</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'poesía' }" (click)="filtrarLibros('poesía')">Poesía</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'novela' }" (click)="filtrarLibros('novela')">Novela</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'ensayo' }" (click)="filtrarLibros('ensayo')">Ensayo</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'viajes' }" (click)="filtrarLibros('viajes')">Viajes</button>
  </div>

  <button class="boton-anadir" *ngIf="name_user === 'pedro'" (click)="irANuevoLibro()">Añadir libro</button>

  <!-- Lista de libros filtrados -->
  <div *ngIf="librosFiltrados.length > 0; else sinLibros">
    <div *ngFor="let libro of librosFiltrados" class="articulo">
      <img [src]="libro.imagen" alt="Portada del libro" class="imagen-libro"/>
      <h2>{{ libro.titulo }}</h2>
      <h4>{{ libro.autor }}</h4>
      <p>{{ libro.descripcion }}</p>
      <a [href]="libro.enlace" target="_blank">Ver más</a>
    </div>
  </div>

  <ng-template #sinLibros>
    <p>No hay libros disponibles para esta categoría.</p>
  </ng-template>
</div>
<app-footer></app-footer>
