<div class="zona-articulos">
  <div class="contenedor-cabecera">
    <img src="assets/img/Logo_oficial.png" alt="Pedro Antonio Logo" class="logo-cabecera" />
    <div class="accion-derecha">
      <button class="enlace-navegacion" (click)="navigateToArticles()">Artículos</button>
      <button class="enlace-navegacion" (click)="navigateToBiography()">Biografía</button>
      <button class="enlace-navegacion" (click)="irAWeb()">Trabajos de crítica literaria</button>
    </div>
  </div>

  <!-- Categorías centradas debajo del header -->
  <div class="categorias-libros">
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === '' }" (click)="verTodos()">Todos</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'poesía' }" (click)="filtrarLibros('poesía')">Poesía</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'novela' }" (click)="filtrarLibros('novela')">Novela</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'ensayo' }" (click)="filtrarLibros('ensayo')">Ensayo</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'viajes' }" (click)="filtrarLibros('viajes')">Viajes</button>
    <button class="categoria-boton" [ngClass]="{ activo: categoriaSeleccionada === 'memorias' }" (click)="filtrarLibros('memorias')">Memorias</button>
  </div>

<button class="boton-anadir" *ngIf="name_user === 'pedro'" (click)="irANuevoLibro()">Añadir libro</button>

<div class="libro-tarjeta" *ngFor="let libro of librosFiltrados">
  <img [src]="libro.imagen" alt="Portada del libro" class="imagen-libro" style="max-width:180px"/>
  <div class="info-libro">
    <h2>{{ libro.titulo }}</h2>
    <p class="resumen">{{ libro.descripcion }}</p>
    <div class="separador-libro"></div>
    <div class="detalles-libro">
      <p><strong>Año de publicación:</strong> {{ libro.anopublicacion }}</p>
      <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
      <p *ngIf="libro.premio"><strong>Premio:</strong> {{ libro.premio }}</p>
    </div>
    <button *ngIf="name_user === 'pedro'" class="boton-modificar" (click)="irAModificarLibro(libro.id)">
      Modificar libro
    </button>
  </div>
</div>


  <ng-template #sinLibros>
    <p>No hay libros disponibles para esta categoría.</p>
  </ng-template>
</div>
<app-footer></app-footer>
