<div class="zona-articulos">
  <div class="contenedor-cabecera">
  <img src="assets/img/Logo_oficial.png" alt="Pedro Antonio Logo" class="logo-cabecera" />
    <div class = "accion-derecha">
    <button class="enlace-navegacion" (click)="navigateToBooks()">Libros</button>
    <button class="enlace-navegacion" (click)="navigateToBiography()">Biografia</button>
    </div>
  </div>

  <!-- Botón que redirige a la nueva vista -->
  <button class="boton-anadir" *ngIf="name_user === 'pedro'" (click)="irANuevoArticulo()">Añadir artículo</button>
 <!-- <button class="boton-anadir" *ngIf="name_user === 'pedro'" (click)="irAModificarArticulo()">Modificar articulo</button>-->

  <div *ngIf="articulos.length > 0; else sinArticulos">
  <div *ngFor="let articulo of articulos" class="articulo-tarjeta">
    <img [src]="articulo.imagen" alt="imagen artículo" class="imagen-articulo" />
    <div class="info-articulo">
      <h2>{{ articulo.titulo }}</h2>
      <h4>{{ articulo.subtitulo }}</h4>
      <p class="contenido-articulo">{{ articulo.resumen }}</p>
      <a [href]="articulo.url" target="_blank">Seguir leyendo</a>
    </div>
</div>

  </div>

  <ng-template #sinArticulos>
    <p>Cargando artículos...</p>
  </ng-template>
</div>
<app-footer></app-footer>
