<div class="zona-articulos">
  <div class="contenedor-cabecera">
    <img src ="assets/img/logo_articulos.png" alt="Logo Artículos" class="logo-articulos">
    <div class = "accion-derecha">
    <button class="enlace-navegacion" (click)="navigateToBooks()">Libros</button>
    <button class="enlace-navegacion" (click)="navigateToBiography()">Biografia</button>
    </div>
  </div>

  <!-- Botón que redirige a la nueva vista -->
  <button class="boton-anadir" (click)="irANuevoArticulo()">Añadir artículo</button>

  <div *ngIf="articulos.length > 0; else sinArticulos">
    <div *ngFor="let articulo of articulos" class="articulo">
      <img [src]="articulo.imagen" alt="imagen artículo" width="200" />
      <h2>{{ articulo.titulo }}</h2>
      <h4>{{ articulo.subtitulo }}</h4>
      <p>{{ articulo.resumen }}</p>
      <a [href]="articulo.url" target="_blank">Seguir leyendo</a>
    </div>
  </div>

  <ng-template #sinArticulos>
    <p>Cargando artículos...</p>
  </ng-template>
</div>
<app-footer></app-footer>
